@import '../mixins';

.drop-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: center, 0;
  background-image: url(../assets/stars.png), url(../assets/drop-bg.png);


  .drop-bank {
    position: relative;
    z-index: 1;
    margin-top: 5vh;
    height: 42vh;
    background-size: auto 35vh;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../assets/drop-bank-bg.png);

    .balance {
      margin-left: -5vw;
      margin-top: 3.5vh;

      .main-label {
        @include text-white-outline-brown();
        font-size: 3.5vh;
        font-feature-settings: "tnum";
        font-variant-numeric: tabular-nums;
        width: 235px;

        &_big-number {
          font-size: 3vh;
        }
      }

      img {
        height: 5vh;
        margin: 0 0.5vw 0.5vh 0;
      }
    }

    .profit-per-hour {
      height: 4vh;
      padding: 0 2vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../assets/bank-profit-per-hour-bg.png);

      .main-label {
        font-size: 1.75vh;
        color: #393636;
      }

      img {
        margin: 0 0.5vw 0.35vh 1vw;
        height: 2vh;
      }
    }

    .instructions-list {
      padding-inline-start: 0;

      .main-label {
        color: #865858;
        font-size: 1.65vh;
        text-align: left;
      }
    }
  }

  .bottom-moon {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 71vh;
    padding-top: clamp(0px, 82vw, 360px);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom calc(220px - 55vw);
    background-image: url('../assets/drop-moon-bottom.png');
  }

  .main-label.boinkers-label {
    font-size: 2vh;
    color: #5E5E5E;
    line-height: 1;
  }

  .main-button {
    margin-top: 3vh;
    height: 8vh;
    width: 68vw;

    .button-icon {
      position: relative;
      width: 5vh;
      margin-right: 2vw;
    }

    .main-label {
      white-space: nowrap;
    }

    .button-corner-ribbon {
      position: absolute;
      height: 3.5vh;
      max-width: 32vw;
      top: -1.5vh;
      left: -8vw;
      transform: rotate(-14deg);
      display: flex;
      justify-content: center;

      img {
        width: 100%;
      }

      .main-label {
        position: absolute;
        font-size: 1.75vh;
        line-height: 3vh;
      }
    }
  }
}
